@import "../login/login.component";

.temparature-child {
  width: 150px;
}
.control {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
}
.redcircle {
  border: 1px solid red;
}
.greencircle {
  border:1px solid green;
}
.blackcircle {
  border:1px solid black;
}
.homewrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-center {
  margin-left: 45%;
}